name: Trigger auto deployment for mnee-sentinel

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/mnee-sentinel-AutoDeployTrigger-5ceebbe4-9067-4094-b4a7-ec9326935439.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MNEESENTINEL_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MNEESENTINEL_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MNEESENTINEL_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: mneeregistry.azurecr.io
          registryUsername: ${{ secrets.MNEESENTINEL_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MNEESENTINEL_REGISTRY_PASSWORD }}
          containerAppName: mnee-sentinel
          resourceGroup: MNEE_Sentinel
          imageToBuild: mneeregistry.azurecr.io/mnee-sentinel:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


